//Configuration file//
//READ: Do not change the names of the variables!!! Just change the values. Also, will not handle improper
//values. For example: 5sej6 is not a number, do do not enter it in place of one! Booleans are only true or false.



//Ball Speed. Sets the initial speed of the ball.
BALL_SPEED_MULTIPLIER = 45

//Ball speed step. Applied to the BALL SPEED MULTIPIER
BALL_SPEED_STEP = 2

//Ball speed step point. Ball speed step is applied after this many levels.
BALL_SPEED_STEP_POINT = 5

//Hit points amount is awarded after each brick hit, but only if the brick does not break.
HIT_POINTS = 1

//Destroy points are awarded if the brick is destroyed by that ball hit. Note that hit points
//and destroy points are not awarded for a hit destroying a brick, only destroy points are awarded.
DESTROY_POINTS = 5

//Points awarded with the completion of each level.
LEVEL_POINTS = 100

//Percentage increase in level points from level to level. Leave as a decimal.
LEVEL_MULTIPLIER = 1.08

//If destroyed bricks will spawn helpful perks or not.
SPAWN_GOOD_PERKS = true

//If the destroyed bricks will spawn harmful perks or not.
SPAWN_BAD_PERKS = true

//Chance for each brick break to spawn a perk. Chances are 1/PERK_SPAWN_CHANCE.
PERK_SPAWN_CHANCE = 15

//If the user is invincible or not. If this is true, balls will bounce off of the bottom, and thus it is
//impossible to lose. Evil balls also do no harm.
INVINCIBLE = false

//Starting level name. Just the file name. This file should be in the /levels/ directory and be properly formatted.
//For formatting, look at already existent levels for a guide. Follow them EXACTLY!
STARTING_LEVEL = Level001
